HOST=127.0.0.1
PORT=8000
HOST_MODE=development

#DATABASE_URL=sqlite:database.sqlite
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DATABASE_NAME
HASH_DRIVER=argon2id
ARGON2_MEMORY=4096
ARGON2_TIME=3
ARGON2_THREADS=1

FILE_DRIVER=sha3_256

JWT_SECRET=YOUR_SECRET
JWT_EXPIRED=60m
JWT_MAXAGE=60